.main_container{
    background: url('imgs/wallpaperflare.com_wallpaper.jpg') no-repeat center;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 800px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_element{
    border: solid inherit 1px;
    border-radius: 5px;
    background: linear-gradient(#e66465, #9198e5);
    margin-left: 20px;
    font-size: 19px;
}

.button_element_first{
    border: solid inherit 1px;
    border-radius: 5px;
    background: linear-gradient(#e66465, #9198e5);
    font-size: 19px;
}

.counter_value{
    font: 50px/25px 'SansSerif';
    color: mediumpurple;
}

.counter_container input{
    margin-bottom: 10px;
    border-radius: 5px;
    background: transparent;
}

.container_title {
    color: #d3b5ea;
}
.container_title_blin {
    color: #d3b5ea;
    font-size: 15px;
}
.container_title_zloi{
    color: #e12929;
    font-size: 80px;
}